nav{
    padding:5px;
    margin:0px;
    text-align:right;
    }
    nav > a{
        text-transform:uppercase;
        text-decoration:none;
        margin-right:10px;
     }
     nav > a:hover{
        color:rgb(17, 34, 54);
     }
     h1{
        text-transform:uppercase;
        font-size:large;
        font-family:monospace;
     }
     img{
       
       margin-right:10px;
       padding:10px;
       width:15%;
       height:5%;
       border-radius: 160px;
       float:center;

     }
     footer{
        text-align:right;
        border-radius: 60px;
        background-color:whitesmoke;
        color:red
    }
    body{
        background-color:rgb(197, 203, 211);
    }